html,body {
    background-color: orange;
}

h1 {
    color: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header3{
    background-color: lightseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}